{% extends "base_generic.html" %}

{% block content %}
    <h1>Mealplan for Patient {{patient.first_name}} {{patient.last_name}} </h1>
    <p class='text-muted'>Created by Dr. {{doctor.first_name}} {{doctor.last_name}}<p>
    {%if mealplan.approved%}
        <div class="alert alert-success">    
            Approval Status: <strong>{{mealplan.approved}}</strong>
        </div>
    {%else%}
        <div class="alert alert-danger">
            Approval Status: <strong>{{mealplan.approved}}</strong>
        </div>
    {%endif%}
    
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Meal</th>
            <th class = "w-75">Recommended Portions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope = "row">Breakfast</td>
            <td>{{mealplan.breakfast}}</td>
          </tr>
          <tr>
            <td scope = "row">Lunch</td>
            <td>{{mealplan.lunch}}</td>
          </tr>
          <tr>
            <td scope = "row">Dinner</td>
            <td>{{mealplan.dinner}}</td>
          </tr>
        </tbody>
      </table>
      
    {% if is_doctor%}
    <a href = "{% url 'edit-mealplan' %}?mealplan_id={{mealplan.id}}" class='form-control btn btn-primary'>Edit/Approve</a>
    {% endif %}
{% endblock %}
