.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
  }
.meal-plan-table {
   width: 50vw;
}

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}


